/* stylelint-disable no-descending-specificity */
/* stylelint-disable scss/no-global-function-names */
:root {
  --step--2: clamp(0.6944rem, 0.649rem + 0.0947vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.7148rem + 0.2469vw, 0.9rem);
  --step-0: clamp(1rem, 0.7778rem + 0.463vw, 1.125rem);
  --step-1: clamp(1.2rem, 0.8333rem + 0.7639vw, 1.4063rem);
  --step-2: clamp(1.44rem, 0.875rem + 1.1771vw, 1.7578rem);
  --step-3: clamp(1.728rem, 0.8937rem + 1.738vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 0.8772rem + 2.4925vw, 2.7466rem);
  --step-5: clamp(2.5rem, 1.22rem + 6.1vw, 5.8664rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "pretendard";
  font-size: var(--step-0);
  line-height: 1.5;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.container {
  max-width: 1200px;
  padding: 80px 30px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
  margin-top: 20px;
  font-size: var(--step-0);
  font-weight: 600;
  line-height: 1;
  color: #000;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #e6e6e6;
}
.btn.dark {
  color: #fff;
  background: #816b53;
}
.btn.dark:hover {
  background: #9a8368;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.section-title h2 {
  margin-bottom: 10px;
  font-size: var(--step-4);
  text-transform: uppercase;
}
.section-title p {
  font-size: var(--step-0);
}

header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.591);
}
header .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
header .logo {
  font-size: var(--step-1);
  font-weight: bold;
  cursor: pointer;
}
header .menu-toggle {
  padding: 0;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}
header .menu-toggle svg {
  display: block;
  width: 28px;
  height: 28px;
}
header .info-link {
  font-size: var(--step--1);
  font-weight: bold;
}
header .info-link:hover {
  opacity: 0.7;
}
header .center-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .center-nav a {
  margin: 0 20px;
  font-size: var(--step--1);
  font-weight: bold;
}
header .center-nav a:hover {
  opacity: 0.7;
}
header .pc-only {
  display: block;
}
header .mobile-only {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 850px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1 {
  margin-bottom: 20px;
  font-size: var(--step-5);
  line-height: 1.1;
}
.hero h1 p {
  font-size: var(--step-0);
}
.hero button,
.hero a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
  margin-top: 30px;
  font-size: var(--step-0);
  font-weight: bold;
  line-height: 1;
  color: #000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7607843137);
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
.hero button:hover,
.hero a.btn:hover {
  background-color: #fff;
}

.features {
  display: flex;
  gap: 7vw;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.features .item {
  cursor: pointer;
}
.features .item:hover .circle {
  filter: brightness(0.8);
}
.features .circle {
  flex-shrink: 0;
  width: 15vw;
  min-width: 80px;
  max-width: 220px;
  aspect-ratio: 1/1;
  margin-bottom: 1.5vw;
  cursor: pointer;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transition: filter 0.3s ease;
}
.features > *:nth-child(1) .circle {
  background-image: url("../images/circle1.webp");
}
.features > *:nth-child(2) .circle {
  background-image: url("../images/circle2.webp");
}
.features > *:nth-child(3) .circle {
  background-image: url("../images/circle3.webp");
}
.features h3 {
  font-size: var(--step-0);
  cursor: pointer;
}

.history-split {
  display: flex;
}
.history-split .img-box {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: #c4c4c4;
  background-image: url("../images/hiscut.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.history-split .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0 80px;
  text-align: center;
  background-color: #f8f3e7;
}
.history-split .text-box h2 {
  margin-bottom: 20px;
  font-size: var(--step-4);
  word-break: normal;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.life-inside {
  padding-bottom: 20px;
}
.life-inside .card {
  overflow: hidden;
  background-color: #f8f3e7;
  border-radius: 5px;
}
.life-inside .card .card-img {
  width: 100%;
  aspect-ratio: 4/3;
  cursor: pointer;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.life-inside .card:nth-child(1) .card-img {
  background-image: url("../images/life1.webp");
}
.life-inside .card:nth-child(2) .card-img {
  background-image: url("../images/life2.webp");
}
.life-inside .card:nth-child(3) .card-img {
  background-image: url("../images/life3.webp");
}
.life-inside .card .card-text {
  padding: 20px;
}
.life-inside .card .card-text h3 {
  margin-bottom: 10px;
  font-size: var(--step-1);
  cursor: pointer;
}
.life-inside .card .card-text p {
  font-size: var(--step--1);
  color: #555;
}

.gallery {
  padding-top: 60px;
}
.gallery .gallery-item:hover .img-placeholder {
  filter: brightness(0.8);
}
.gallery .gallery-item .img-placeholder {
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  transition: filter 0.3s ease;
}
.gallery .gallery-item:nth-child(1) .img-placeholder {
  background-image: url("../images/image1.webp");
}
.gallery .gallery-item:nth-child(2) .img-placeholder {
  background-image: url("../images/image2.webp");
}
.gallery .gallery-item:nth-child(3) .img-placeholder {
  background-image: url("../images/image3.webp");
}
.gallery .gallery-item:nth-child(4) .img-placeholder {
  background-image: url("../images/image4.webp");
}
.gallery .gallery-item:nth-child(5) .img-placeholder {
  background-image: url("../images/image5.webp");
}
.gallery .gallery-item:nth-child(6) .img-placeholder {
  background-image: url("../images/image6.webp");
}
.gallery .gallery-item span {
  font-size: var(--step--1);
  cursor: pointer;
}

footer {
  padding: 30px 0;
  border-top: 1px solid black;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
footer .copyright {
  font-size: var(--step-0);
}
footer .links a {
  margin-left: 30px;
  font-size: var(--step--1);
}

@media (max-width: 1200px) {
  .history-split .text-box {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  header .pc-only {
    display: none !important;
  }
  header .mobile-only {
    display: block !important;
  }
  header .inner {
    padding: 0 20px;
  }
  .hero {
    height: 800px;
  }
  .hero button,
  .hero a.btn {
    padding: 13px 20px;
    margin-top: 20px;
  }
  .features {
    gap: 10px;
  }
  .features .circle {
    width: 29vw;
    max-width: 140px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .history-split {
    flex-direction: column;
    height: auto;
  }
  .history-split .img-box {
    width: 100%;
    height: 400px;
    aspect-ratio: auto;
  }
  .history-split .text-box {
    width: 100%;
    padding: 40px 10px;
  }
  .history-split .text-box .btn {
    padding: 13px 20px;
  }
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .life-inside .card:nth-child(3) {
    display: none;
  }
  .life-inside .card .card-img {
    aspect-ratio: 4/3;
  }
  .gallery .gallery-item .img-placeholder {
    aspect-ratio: 4/3;
  }
}