/* stylelint-disable no-descending-specificity */
/* stylelint-disable scss/no-global-function-names */

:root {
  --step--2: clamp(0.6944rem, 0.649rem + 0.0947vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.7148rem + 0.2469vw, 0.9rem);
  --step-0: clamp(1rem, 0.7778rem + 0.463vw, 1.125rem);
  --step-1: clamp(1.2rem, 0.8333rem + 0.7639vw, 1.4063rem);
  --step-2: clamp(1.44rem, 0.875rem + 1.1771vw, 1.7578rem);
  --step-3: clamp(1.728rem, 0.8937rem + 1.738vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 0.8772rem + 2.4925vw, 2.7466rem);
  --step-5: clamp(2.5rem, 1.22rem + 6.1vw, 5.8664rem);
}

$bg-gray: #c4c4c4;
$bg-photo: #c4c4c4;
$bg-light: #f8f3e7;

$text-black: #000;
$text-white: #fff;
$font-sans: "pretendard";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: $font-sans;
  font-size: var(--step-0);
  line-height: 1.5;
  color: $text-black;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.container {
  max-width: 1200px;
  padding: 80px 30px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 15px 24px;
  margin-top: 20px;

  font-size: var(--step-0);
  font-weight: 600;
  line-height: 1;

  color: $text-black;
  cursor: pointer;
  background: $text-white;
  border: none;
  border-radius: 30px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e6e6e6;
  }

  &.dark {
    color: $text-white;
    background: #816b53;

    &:hover {
      background: #9a8368;
    }
  }
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    font-size: var(--step-4);
    text-transform: uppercase;
  }
  p {
    font-size: var(--step-0);
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  color: $text-white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.591);

  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .logo {
    font-size: var(--step-1);
    font-weight: bold;
    cursor: pointer;
  }

  .menu-toggle {
    padding: 0;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    svg {
      display: block;
      width: 28px;
      height: 28px;
    }
  }

  .info-link {
    font-size: var(--step--1);
    font-weight: bold;
    &:hover {
      opacity: 0.7;
    }
  }

  .center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    a {
      margin: 0 20px;
      font-size: var(--step--1);
      font-weight: bold;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .pc-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 850px;
  color: $text-white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    margin-bottom: 20px;
    font-size: var(--step-5);
    line-height: 1.1;
    p {
      font-size: var(--step-0);
    }
  }

  button,
  a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 15px 24px;
    margin-top: 30px;

    font-size: var(--step-0);
    font-weight: bold;
    line-height: 1;

    color: #000;
    cursor: pointer;
    background-color: #ffffffc2;
    border: none;
    border-radius: 50px;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fff;
    }
  }
}

.features {
  display: flex;
  gap: 7vw;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  .item {
    cursor: pointer;
    &:hover .circle {
      filter: brightness(0.8);
    }
  }

  .circle {
    flex-shrink: 0;
    width: 15vw;
    min-width: 80px;
    max-width: 220px;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.5vw;
    cursor: pointer;
    background-color: $bg-gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    transition: filter 0.3s ease;
  }

  & > *:nth-child(1) .circle {
    background-image: url("../images/circle1.webp");
  }
  & > *:nth-child(2) .circle {
    background-image: url("../images/circle2.webp");
  }
  & > *:nth-child(3) .circle {
    background-image: url("../images/circle3.webp");
  }

  h3 {
    font-size: var(--step-0);
    cursor: pointer;
  }
}

.history-split {
  display: flex;

  .img-box {
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: $bg-photo;
    background-image: url("../images/hiscut.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 80px;
    text-align: center;
    background-color: $bg-light;

    h2 {
      margin-bottom: 20px;
      font-size: var(--step-4);
      word-break: normal;
    }
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.life-inside {
  padding-bottom: 20px;

  .card {
    overflow: hidden;
    background-color: $bg-light;
    border-radius: 5px;

    .card-img {
      width: 100%;
      aspect-ratio: 4/3;
      cursor: pointer;
      background-color: $bg-photo;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:nth-child(1) .card-img {
      background-image: url("../images/life1.webp");
    }
    &:nth-child(2) .card-img {
      background-image: url("../images/life2.webp");
    }
    &:nth-child(3) .card-img {
      background-image: url("../images/life3.webp");
    }

    .card-text {
      padding: 20px;
      h3 {
        margin-bottom: 10px;
        font-size: var(--step-1);
        cursor: pointer;
      }
      p {
        font-size: var(--step--1);
        color: #555;
      }
    }
  }
}

.gallery {
  padding-top: 60px;
  .gallery-item {
    &:hover .img-placeholder {
      filter: brightness(0.8);
    }

    .img-placeholder {
      width: 100%;
      aspect-ratio: 4/3;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: $bg-photo;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 5px;

      transition: filter 0.3s ease;
    }

    &:nth-child(1) .img-placeholder {
      background-image: url("../images/image1.webp");
    }
    &:nth-child(2) .img-placeholder {
      background-image: url("../images/image2.webp");
    }
    &:nth-child(3) .img-placeholder {
      background-image: url("../images/image3.webp");
    }
    &:nth-child(4) .img-placeholder {
      background-image: url("../images/image4.webp");
    }
    &:nth-child(5) .img-placeholder {
      background-image: url("../images/image5.webp");
    }
    &:nth-child(6) .img-placeholder {
      background-image: url("../images/image6.webp");
    }

    span {
      font-size: var(--step--1);
      cursor: pointer;
    }
  }
}

footer {
  padding: 30px 0;
  border-top: 1px solid black;
  .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .copyright {
    font-size: var(--step-0);
  }
  .links a {
    margin-left: 30px;
    font-size: var(--step--1);
  }
}

@media (max-width: 1200px) {
  .history-split .text-box {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  header {
    .pc-only {
      display: none !important;
    }
    .mobile-only {
      display: block !important;
    }
    .inner {
      padding: 0 20px;
    }
  }

  .hero {
    height: 800px;
    button,
    a.btn {
      padding: 13px 20px;
      margin-top: 20px;
    }
  }

  .features {
    gap: 10px;
    .circle {
      width: 29vw;
      max-width: 140px;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }

  .history-split {
    flex-direction: column;
    height: auto;

    .img-box {
      width: 100%;
      height: 400px;
      aspect-ratio: auto;
    }

    .text-box {
      width: 100%;
      padding: 40px 10px;

      .btn {
        padding: 13px 20px;
      }
    }
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .life-inside .card:nth-child(3) {
    display: none;
  }
  .life-inside .card .card-img {
    aspect-ratio: 4/3;
  }
  .gallery .gallery-item .img-placeholder {
    aspect-ratio: 4/3;
  }
}
