/* stylelint-disable no-descending-specificity */
/* stylelint-disable scss/no-global-function-names */

$image-path: "../../images/";

:root {
  --step--2: clamp(0.6944rem, 0.649rem + 0.0947vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.7148rem + 0.2469vw, 0.9rem);
  --step-0: clamp(1rem, 0.7778rem + 0.463vw, 1.125rem);
  --step-1: clamp(1.2rem, 0.8333rem + 0.7639vw, 1.4063rem);
  --step-2: clamp(1.44rem, 0.875rem + 1.1771vw, 1.7578rem);
  --step-3: clamp(1.728rem, 0.8937rem + 1.738vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 0.8772rem + 2.4925vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 0.8085rem + 3.4997vw, 3.4332rem);
}

$font-main: "pretendard";
$black: #000;
$gray-light: #e0e0e0;
$gray-medium: #c4c4c4;
$gray-dark: #6d6d6d;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-main;
  font-size: var(--step-0);
  line-height: 1.6;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 1.25rem 0;
  color: $black;
  border-bottom: 0.0625rem solid black;

  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
    padding: 0 1.875rem;
    margin: 0 auto;
  }

  .header-left {
    display: flex;
    align-items: center;
    .menu-icon {
      display: none;
      width: 1.5rem;
      height: auto;
      cursor: pointer;
    }
    .logo {
      display: block;
      font-size: var(--step-1);
      font-weight: 950;
      cursor: pointer;
    }
  }

  .center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    a {
      margin: 0 1.25rem;
      font-size: var(--step--1);
      font-weight: 800;
      &.active {
        opacity: 0.6;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .info-link {
    font-size: var(--step--1);
    font-weight: 800;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (max-width: 48rem) {
    .center-nav {
      display: none;
    }
  }
}

.main-content {
  width: 100%;
  max-width: 75rem;
  padding: 6.25rem 1.875rem;
  margin: 0 auto;
}

.title-section {
  margin-bottom: 3.75rem;
  text-align: center;

  h1 {
    margin-bottom: 2.5rem;
    font-family: $font-main;
    font-size: var(--step-5);
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .intro-text {
    font-size: var(--step-0);
    font-weight: 600;
  }
}

.layout-row {
  width: 100%;
  border-top: 0.0625rem solid $black;

  .text-box {
    padding: 3.75rem 1.875rem;
    h2 {
      margin-bottom: 1.25rem;
      font-size: var(--step-2);
      font-weight: 800;
    }
    p {
      max-width: 100%;
      font-size: var(--step-0);
      color: #333;
    }
  }

  .img-box {
    width: 100%;
    background-color: $gray-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.img-1 {
      background-image: url($image-path + "li1.webp");
    }
    &.img-2 {
      background-image: url($image-path + "li2.webp");
    }
    &.img-3 {
      background-image: url($image-path + "li3.webp");
    }
    &.img-4 {
      background-image: url($image-path + "li4.webp");
    }
    &.img-5 {
      background-image: url($image-path + "li5.webp");
    }
    &.img-6 {
      background-image: url($image-path + "li6.webp");
    }
    &.img-7 {
      background-image: url($image-path + "li7.webp");
    }
    &.img-8 {
      background-image: url($image-path + "li8.webp");
    }
  }
}

.layout-row.split {
  display: flex;
  min-height: 25rem;

  .text-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 2.5rem;
  }

  .img-box {
    flex: 1;
    height: auto;
  }

  &.reverse {
    flex-direction: row-reverse;
    .text-box {
      padding-right: 0;
      padding-left: 2.5rem;
    }
  }
}

.layout-row.full-img {
  height: 31.25rem;

  .img-box {
    height: 100%;
  }
}

.layout-row.full-text {
  .text-box {
    max-width: 100%;
    padding: 3.75rem 1.875rem;
  }
}

.bottom-link {
  padding-top: 5rem;
  margin-bottom: 0;
  text-align: center;
  border-top: 0.0625rem solid $black;

  h2 {
    margin-bottom: 0.625rem;
    font-family: $font-main;
    font-size: var(--step-4);
    font-weight: 800;
  }
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75rem;
  padding: 1.875rem 1.875rem;
  margin: 0 auto;

  font-family: $font-main;
  font-size: var(--step--1);
  border-top: 0.0625rem solid $black;

  .copyright {
    font-size: var(--step-0);
  }

  .footer-links {
    display: flex;
    gap: 2.5rem;
    a {
      font-size: var(--step--1);
    }
  }
}

@media (max-width: 48rem) {
  header .inner,
  .main-content,
  .site-footer {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  header {
    .header-left {
      .logo {
        display: none;
      }
      .menu-icon {
        display: block;
      }
    }
    .center-nav {
      display: none;
    }
  }

  .title-section {
    margin-bottom: 2.5rem;
  }

  .layout-row.split {
    flex-direction: column !important;
    height: auto;

    .img-box {
      flex: none;
      order: -1;
      height: 28.125rem;
      margin-bottom: 1.25rem;
      border-bottom: 0.0625rem solid $black;
    }

    .text-box {
      padding: 2.5rem 1.25rem 3.75rem !important;
    }
  }

  .layout-row.full-img {
    height: 18.75rem;
  }

  .site-footer {
    flex-direction: column-reverse;
    gap: 1.25rem;
    .footer-links {
      gap: 1.875rem;
      justify-content: center;
    }
  }
}
